web-notification {position: fixed; top: 0; right: 0; z-index: 99999999999;}
web-notification notification-item {min-height: 70px; width: 400px; display: block; margin: 20px; padding: 10px 40px 10px 80px; position: relative; box-sizing: border-box; transition: opacity .5s ease-in-out; opacity: 0; background: #7A7A7A;}
web-notification notification-item.show {opacity: 1; animation: notificationFadeIn 0.5s ease-out;}
web-notification notification-item:before {display: block; width: 70px; height: 100%; position: absolute; left: 0; top: 0; background: #000000; content: "";}
web-notification notification-item span {}
web-notification notification-item > button {width: 25px; height: 25px; padding: 0; display: block; position: absolute; right: 10px; top: 10px; border: none; background: #000000;}

@media only screen and (max-width: 768px) {
	web-notification {width: 100%;}
	web-notification notification-item {width: 80%; margin: 20px 10% 10px 10%;}
}

@keyframes notificationFadeIn {
	0% {
		display: none;
		opacity: 0;
	}
	1% {
		display: block;
		opacity: 0;
	}
	100% {
		display: block;
		opacity: 1;
	}
}
